*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    width: 70%;
    margin: 50px auto 0;
}
tr {
    border: 1px solid black;
    height: 50px;
}
td {
    border: 1px solid black;
}
.hidden {
    visibility: collapse;
}