body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: Arial, Helvetica, sans-serif;
}
form {
    border: 2px solid purple;
    width: 25rem;
    height: 25rem;
    padding: 40px;
    padding-right: 80px;
}
h1 {
    color: #4b0082;
    font-size: 2em;
}
p {
    color: #808080;
    font-size: 1.1em;
}
input {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}
a {
    color: #4b0082;
    font-size: 1.3em;
}
input[type="submit"] {
    width: 30%;
    margin-top: 25px;
    background-color: #800080;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #991f99;
}