*{
    margin: 0;
}
body div{
    background-color: blue;
}
div>div {
    background-color: green;
}
div>span {
    background-color: yellow;
}
div+span {
    background-color: gray;
}
#treci {
    color: white;
    background-color: red;
}
#treci>span {
    background-color: orange;
}

