body {
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset {
    width: 500px;
    padding: 25px;
}
.login {
    height: 130px;
    margin-top: 100px;
}
.login div {
    margin: 10px 50px;
}
.feedback {
    height: 400px;
    margin-top: 10px;
}
.emotions, .satisfaction {
    margin: 0 50px;
}
.feedback div {
    margin: 10px 100px;
}
.comments {
    margin-left: 50px;
    padding-right: 10px;
}
.bio, .location {
    margin: 10px 70px;
}
.sub, .reset {
    margin: 10px 120px;
}