body {
    box-sizing: border-box;
    margin: 0;
}
.row {
    width: 100%;
    overflow: hidden;
}
div {
    height: 50px;
}
[class*="col-"]{
    float: left;
    width: 100%;
}
.col-3 {
    width: calc(100%/12*3);
}
.col-6 {
    width: calc(100%/12*6);
}
img {
    width: 200px;
    padding: 15px
}
ul {
    overflow: hidden;
    list-style-type: none;
}
ul li {
    float: left;
    text-align: center;
    padding-left: 30px;
}
ul li a {
    text-decoration: none;
    color: white;
    display: block;
    
}
.sredina {
    background-color: black;
    display: flex;
    justify-content: center;
}
.siva {
    background-color: rgb(189, 189, 189);
}
.desno ul{
    float: right;
    padding-right: 20px;
}
.desno ul li:first-child {
    border-right: 1px solid white;
    padding-right: 20px; /* Optional: add some padding to the right of the first list item */
}