* {
    box-sizing: border-box;
    margin: 0;
}
div {
    background-color: blue;
}
.green {
    background-color: green;
}
span {
    background-color: yellow;
}
.sivi {
    background-color: gray;
}
#treci {
    color: white;
    background-color: red;
}

