body {
    width: 200px;
    border: 1px solid black;
    padding: 4px;
}
div {
    margin: 10px 0px;
}
div .text{
    height: 150px;
    overflow-y: scroll;
    scrollbar-width: thin;
}
h5 {
    font-size: 1em;
    margin: 0;
}
img {
    width: 200px;
    height: 200px;
    border: 2px dotted red;
    border-radius: 50%;
}

